<%- include('layouts/header.ejs') %>
<div class="container">
	<!-- logo -->
	<%- include('layouts/logo.ejs') %>

	<!-- header search -->
	<%- include('layouts/search.ejs') %>

	<!-- card -->
	<div class="container grid grid-cols-2 md:grid-cols-5 gap-5 px-8 py-5 md:px-16 md:py-10">
		<% for( let i = 0; i < data.length; i++ ) { %>
		<div
			class="box grid-rows-3 w-32 h-44 md:w-60 md:h-64 bg-white shadow-md shadow-blue-300 hover:shadow-blue-500 rounded-lg px-2 py-1"
		>
			<a href="/movie/<%= data[i].id %> "
				><img
					src="<%= uriImg %><%= data[i].backdrop_path===null?data[i].poster_path:data[i].backdrop_path %>  "
					alt="<%= data[i].title %> "
					class="w-32 h-16 md:w-60 md:h-28 rounded-t-lg"
			/></a>
			<a href="/movie/<%= data[i].id %> "
				><p class="w-16 h-11 text-sm md:w-52 md:h-10 mt-2 px-4 font-semibold text-ellipsis">
					<%= data[i].title %>
				</p></a
			>

			<p
				class="w-16 h-11 hidden md:block md:w-52 md:h-20 py-3 px-4 text-ellipsis overflow-hidden"
			>
				<%= data[i].overview %>
			</p>
		</div>
		<% } %>
	</div>

	<!-- Pagination -->
	<div class="text-center my-10">
		<nav aria-label="Page navigation example">
			<ul class="inline-flex -space-x-px">
				<li>
					<a
						href="#"
						id="prev"
						class="py-2 px-3 ml-0 leading-tight text-blue-800 bg-white rounded-l-lg border border-blue-400 hover:bg-gray-100 hover:text-gray-700"
						>Previous</a
					>
				</li>

				<!-- Todo: tinggal bagian numberin paging -->
				<% if (page.total_pages > 2) { %> <% for( let i = 1; i <= 5; i++ ) { %>
				<li>
					<a
						href="/dashboard/<%= i %> "
						class="py-2 px-3 leading-tight text-blue-800 bg-white border border-blue-400 hover:bg-gray-100 hover:text-gray-700"
						><%= i %>
					</a>
				</li>
				<% } %> <% } %> <% let maxPage = page.total_pages %> <% if (page.total_pages ===
				maxPage) { %>
				<li>
					<a
						href="#"
						id="next"
						class="py-2 px-3 leading-tight text-blue-800 bg-white rounded-r-lg border border-blue-400 hover:bg-gray-100 hover:text-gray-700"
						>Next</a
					>
				</li>
				<% } %>
			</ul>
		</nav>
	</div>
</div>
<%- include('layouts/closer') %>
